<div class="modal fade bd-example-modal-lg" id={{idModal}} tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{Modaltitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="edit-form">
                    <div class="form-group row">
                        <label for="inputTitle" class="col-sm-2 col-form-label text-right">Спикер</label>
                        <div class="col-sm-10">
                            <select class="form-control form-control-lg" onchange={{action "changeSpeaker" }}
                                value={{speaker.id}}>
                                {{#each listSpeaker as |item|}}
                                <option value={{item.id}}>{{item.firstName}} {{item.lastName}} {{item.patronymic}}
                                </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputTitle" class="col-sm-2 col-form-label text-right">Книга</label>
                        <div class="col-sm-10">
                            {{select }}
                            <select class="form-control form-control-lg" onchange={{action "changeBook" }}
                                value={{book.id}}>
                                {{#each listBook as |item|}}
                                <option value={{item.id}}>{{item.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputTitle" class="col-sm-2 col-form-label text-right">Отзыв</label>
                        <div class="col-sm-10">
                            {{textarea
                            type="text"
                            class="form-control form-control-lg resizeNone"
                            placeholder="Отзыв"
                            value=Review
                            }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputTitle" class="col-sm-2 col-form-label text-right">Видео</label>
                        <div class="col-sm-10">
                            {{input
                            type="url"
                            class="form-control form-control-lg"
                            placeholder="Видео"
                            value=URLVideo
                            }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputTitle" class="col-sm-2 col-form-label text-right">Презентация</label>
                        <div class="col-sm-10">
                            {{input
                            type="url"
                            class="form-control form-control-lg"
                            laceholder="Полное название книги"
                            value=URLPresentation
                            placeholder="Ссылка на сайт с описанием книги"
                            }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputTitle" class="col-sm-2 col-form-label text-right">Рейтинг книги</label>
                        <div class="col-sm-10">
                            {{input
                            type="text"
                            class="form-control form-control-lg"
                            laceholder="Полное название книги"
                            value=rating_book
                            }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" onclick={{action "save" }}>Сохранить</button>
            </div>
        </div>
    </div>
</div>