<div class="container h-100">
  <div class="htop">
    <h2 class="text-center">{{t "menu.meetings"}}</h2>
    <div class="form-row navbar-panel justify-content-between align-items-end">
      <div class="col-md-1">
        {{#if session.isAuthenticated}}
        {{#link-to
        "create-meeting"
        class="btn btn-outline-primary my-2"
        type="button"
        title="Добавить книгу"
        }}
        <svg viewBox="0 0 16 16" class="bi bi-plus card-button" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z">
          </path>
        </svg>
        {{/link-to}}
        {{/if}}
      </div>
      <div class="col-md-3 align-top">
        <h5>{{t "menu.speaker"}}</h5>
        <div class="form-group py-2 my-0">
          <select class="selectpicker form-control dropdown-filter-control" value={{speaker}}
            onchange={{action "changeSpeaker" }}>
            <option></option>
            {{#each model.speakers as |item|}}
            <option value="{{item.id}}" selected={{eq speaker item.id}}>{{item.lastName}}
              {{item.firstName}}</option>
            {{/each}}
          </select>
        </div>

      </div>
      <div class="col-md-3">
        <h5>{{t "menu.book"}}</h5>
        <div class="form-group py-2 my-0">
          <select class="selectpicker form-control dropdown-filter-control" value={{book}}
            onchange={{action "changeBook" }}>
            <option></option>
            {{#each model.books as |item|}}
            <option value="{{item.id}}" selected={{eq book item.id}}>{{item.name}}</option>
            {{/each}}
          </select>
        </div>

      </div>
      <div class="col-md-3">
        <h5>{{t "menu.dateMeeting"}}</h5>
        <div class="form-group py-2 my-0">
          {{input/input-datepicker value=date}}
        </div>
      </div>
      <div class="col-md-auto text-right col-filter">
        <button type="button" onclick={{action "actionSearch" }} class="btn btn-outline-primary my-2">
          <svg viewBox="0 0 16 16" class="bi bi-funnel card-button" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z">
            </path>
          </svg>
        </button>
        <button type="button" class="btn btn-outline-secondary my-2" onclick={{action "clearSearch" }}>
          <svg viewBox="0 0 16 16" class="bi bi-x card-button" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z">
            </path>
          </svg>
        </button>
      </div>
    </div>

    {{#each model.meetings as |meeting|}}
    {{meeting/meeting-card meeting=meeting delete=(action "delete" meeting)}}
    {{/each}}

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item {{if (eq page 1) 'disabled' ''}}">
          <a
            class="page-link"
            disabled={{eq page 1}}
            onclick={{action "back"}}
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {{#each pages as |page|}}
          {{#link-to
            "meetings"
            (query-params page=page)
            class="page-item"
            tagName="li"
          }}
            <span class="page-link">{{page}}</span>

          {{/link-to}}
        {{/each}}
        <li class="page-item {{if (eq page pages.length) 'disabled' ''}}">
          <a
            class="page-link"
            disabled={{eq page pages.length}}
            onclick={{action "next"}}
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>